<div class="navpic">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Django Unchained</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'landing' %}">Gallery <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          {% for category in categories %}
          <a class="dropdown-item" href="{% url 'page_category' category.category_name %}">{{category.category_name}}</a>
          <div class="dropdown-divider"></div>


          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Locations
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          {% for locat in locations %}
          <a class="dropdown-item" href="{% url 'page_location' locat.location_name %}">{{locat.location_name}}</a>
          <div class="dropdown-divider"></div>


          {% endfor %}
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
      <input class="form-control" type="search" placeholder="search_By_Category..." name="searchcat" aria-label="Search">
      <button class="btn btn-outline-danger rounded p-0" type="submit"><img src="https://www.freeiconspng.com/uploads/search-icon-png-27.png" alt="" width="32px" height="32px"></button>
    </form>
  </div>
</nav>
<div class="text-center header mt-5 animated shake">
  <h1 style="text-decoration: underline overline">The Django Unchained Gallery</h1>
  <p>Check out my gallery photos and feel free to Download!</p>
  <form class="w-100 mt-5" action="{% url 'search_results' %}">
    <input class="w-50" type="search" placeholder="search_By_Category ..." name="searchcat" aria-label="Search">
    <button class="btn rounded p-0" type="submit" style="margin-left: -50px; margin-bottom: 15px;"><img src="https://www.freeiconspng.com/uploads/search-icon-png-27.png" alt="" width="32px" height="32px"></button>
  </form>
  <div class="suggested">
    <p>Suggested: <a style="color:white;" href="{% url 'page_category' 'Beauty' %}">beauty</a>; <a style="color:white;" href="{% url 'page_location' 'Japan' %}">japan</a>; <a style="color:white;" href="{% url 'page_category' 'Animals' %}">animals</a> ...</p>

  </div>
</div>
<!-- <div class="navpic"> -->
  <!-- <form class="form-inline my-2 my-lg-0 search-form" action="{% url 'search_results' %}">
    <input class="" type="search" placeholder="Search By Category ..." name="searchcat" aria-label="Search">
    <button class="my-2 my-sm-0" type="submit">🔍</button>
  </form> -->
</div>
