body {
  font-family: 'Source Code Pro', monospace;
  /* box-sizing: border-box; */
  background-color: #f7f7f7;
}

.navbar {
  background-color: transparent !important;
  /* position: fixed; */
}
.navbar > a{
  color: white !important;
}
.navbar  li > a{
  color: white !important;
}

.navpic {
  background-image: url('/static/images/navpic.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: fixed; */
  width: 100%;
  height: 500px;
  max-height: 500px;
}

.drop {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
    width: 500px;
    max-height:500px;
}

div .header{
  color: lightgrey;
  font-family: 'Poiret One', cursive;
  font-size: 150%;
  font-weight: bold;
}
 


/* form.search-form { */
  /* position: absolute;
  top: 50%;
  left:50;
  text-align: center; */
  /* position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
} */

/* form.search-form input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

form.search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-form button:hover {
    background: #0b7dda;
}

form.search-form::after {
    content: "";
    clear: both;
    display: table;
} */



*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  margin: 1em auto;
  /* max-width: 768px; */
  column-gap: 1em;
  /* background-color: white; */
}

/* The Masonry Brick */
.item {
  /* background: lightgrey; */
  /* padding: 0.5em; */
  position: relative;
  margin: 0 0 1em;
}


/* On Hover Fade and Display Description */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.description {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item:hover .image {
  opacity: 0.5;
  cursor: zoom-in;
}

.item:hover .description {
  opacity: 1;
}

.text {
  background-color: purple;
  border-radius: 20px;
  color: black;
  /* font-size: 16px; */
  padding: 5px 5px;
}




/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
